<table>
  <tbody>
    <tr>
      <td class="Container">
        <div class="Content">

          <table>
            <tbody>
              <tr>
                <td>

                  <hr>
                  <p class="fs-text-sm u-textCenter c-gray b-pb1">
                    The Littoral Line<br>
                    An electronic letter from <a href="https://twitter.com/callumflack">Callum Flack</a>.<br>
                    <a href="/">Archives here</a>. You can <a href="https://callumflack.design/the-littoral-line">subscribe here</a>.
                  </p>

                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </td>
    </tr>
  </tbody>
</table>
