html,
table {
  box-sizing: border-box;
  background-color: #fff;
  color: #111;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

table {
  width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  /* list-style: none; */
  padding-left: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

* + * {
  margin-bottom: 12px !important;
}

li {
  margin-bottom: 6px !important;
}

article:last-of-type {
  margin-bottom: 0 !important;
}

/*

  Utils

 */

.space-1x4 {
  margin-bottom: 4px !important;
}

.space-1x2 {
  margin-bottom: 12px !important;
}

.space-2 {
  margin-bottom: 32px !important;
}

.m-b0 {
  margin-bottom: 0 !important;
}

hr {
  background-color: #ddd;
  border: 0;
  box-sizing: content-box;
  height: 1px;
  margin-top: 0;
  margin-bottom: 24px;
  overflow: visible;
  padding: 0;
}

.b-py1 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.b-py2 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.b-py25 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.b-pt1 {
  padding-top: 16px;
}

.b-pb1 {
  padding-bottom: 16px;
}

.b-pb2 {
  padding-bottom: 32px;
}

.b-pb25 {
  padding-bottom: 48px;
}

.b-mb2 {
  margin-bottom: 32px !important;
}

.m-b0 {
  margin-bottom: 0 !important;
}

.fs-text-sm {
  font-size: 13px;
}

table,
body,
.fs-text {
  font-size: 17px;
}

.u-textCenter {
  text-align: center !important;
}

.c-gray,
.c-gray a {
  color: #888;
}

.c-highlight,
.c-highlight a {
  color: #DFAB01;
  color: #0B6E99;
  font-style: italic;
}

/*

  Theme

 */

.Container {
  display: block !important;
  max-width: 600px !important;
  margin: 0 auto !important;
  clear: both !important;
}

.Content {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

.Headline,
.Title {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  letter-spacing: -0.015em;
}

.Headline a,
.Title a {
  color: #111;
  text-decoration: none;
}

.Title {
  font-size: 40px;
  line-height: 1.05;
  margin-bottom: 16px !important;
}

.Headline {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 8px !important;
}

.Image {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  display: block;
  height: auto !important;
  margin-top: 42px;
  margin-bottom: 18px;
  max-height: auto !important;
  max-width: 100% !important;
  width: 100% !important;
}

h3 {
  color: #111;
  font-size: 24px;
  font-weight: 700;
  margin-top: 42px;
  text-transform: none;
  text-align: left;
}

blockquote {
  border-left: 2px solid #e6e6e6;
  color: #888;
  font-style: italic;
  margin: 0;
  margin-right: 18px;
  padding-left: 18px;
}

blockquote span {
  font-style: normal;
  display: table;
}

a {
  color: red;
}

.Content-post a {
  display: inline;
  text-decoration: none;
}

p strong {
  font-weight: 600;
}

@media (max-width: 512px) {
  table,
  body,
  .fs-text {
    font-size: 15px;
  }

  .Title {
    font-size: 32px;
  }

  .Headline {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }
}

/*

  Code blocks
  See: http://nicolasgallagher.com/about-html-semantics-front-end-architecture/

 */

pre {
  border: 1px solid #e6e6e6;
  border-left-width: 5px;
  font-size: 100%;
  font-weight: 500;
  margin: 0 0 12px;
  overflow-x: auto;
  padding: 1.25em;
  white-space: pre;
}

code {
  color: #EB5757;
  color: #111;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  line-height: normal;
}

code, kbd, samp {
  font-size: 0.85em;
}

/* @media (max-width: 360px) {
  pre {
    max-width: calc(360px - 42px);
  }
}
@media (max-width: 375px) {
  pre {
    max-width: calc(375px - 42px);
  }
}
@media (max-width: 411px) {
  pre {
    max-width: calc(411px - 42px);
  }
}
@media (max-width: 414px) {
  pre {
    max-width: calc(414px - 42px);
  }
}
@media (min-width:415px) and (max-width: 767px) {
  pre {
    width: 100%;
    width: calc(100vw - 42px - 15px);
  }
} */
@media (max-width: 767px) {
  pre {
    width: calc(100vw - 42px);
  }
}
