html,
table {
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

table,
body {
  font-size: 18px;
}

table {
  width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  /* list-style: none; */
  padding-left: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

* + * {
  margin-bottom: 16px !important;
}

li {
  margin-bottom: 6px !important;
}

/*

  Utils

 */

.space-1x4 {
  margin-bottom: 4px !important;
}

.space-1x2 {
  margin-bottom: 16px !important;
}

.space-2 {
  margin-bottom: 32px !important;
}

.m-b0 {
  margin-bottom: 0 !important;
}

hr {
  background-color: #ddd;
  border: 0;
  box-sizing: content-box;
  height: 1px;
  margin-top: 0;
  margin-bottom: 24px;
  overflow: visible;
  padding: 0;
}

.b-py1 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.b-py2 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.b-pt1 {
  padding-top: 16px;
}

.b-pb1 {
  padding-bottom: 16px;
}

.b-pb2 {
  padding-bottom: 48px;
}

.fs-text-sm {
  font-size: 15px;
}

.fs-text {
  font-size: 18px;
}

.u-textCenter {
  text-align: center !important;
}

.c-gray,
.c-gray a {
  color: #888;
}

/*

  Theme

 */

.Container {
  display: block !important;
  max-width: 600px !important;
  margin: 0 auto !important;
  clear: both !important;
}

.Content {
  padding: 15px;
  padding-bottom: 0;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

.Title {
  font-size: 40px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1;
  margin-bottom: 12px !important;
}

.Title a {
  color: #000;
  text-decoration: none;
}

.Image {
  display: block;
  border-radius: 3px;
  margin-top: 40px;
  margin-bottom: 12px;
  width: 100% !important;
  max-width: 100% !important;
  height: auto !important;
  max-height: auto !important;
}

h3 {
  color: #000;
  font-size: 20px;
  font-weight: 900;
  font-weight: bold;
  margin-top: 40px;
  text-transform: none;
  text-align: left;
}

blockquote {
  border-left: 2px solid #efefef;
  font-style: italic;
  margin-left: 0;
  margin-right: 18px;
  padding-left: 18px;
}

a {
  color: red;
}

code {
  font-family: "Courier New", "Consolas", "Andale Mono", "Lucida San Typewriter", "Lucida Console";
}
