---
layout: default
---

<div class="Container">
  <div class="Content">

    <div class="b-mb2">
      <img src="/src/assets/LL-logo-24.png" height="auto" width="24">

      <p class="fs-text-sm c-gray m-b0 b-pt1">
        The Littoral Line.<br>
        An electronic letter from <a href="https://twitter.com/callumflack" target="_blank">Callum Flack</a>.<br>
        You can <a href="https://callumflack.design/the-littoral-line" target="_blank">subscribe or read the archives here</a>.
      </p>

    </div>

    {% for post in site.posts %}
      <article class="b-mb2">
        <h1 class="Headline">
          {% if site.env == "production" %}
            <a href="https://thelittoralline.callumflack.design{{ post.url }}">{{ post.title }}</a>
          {% else %}
            <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
          {% endif %}
        </h1>
        <h2 class="fs-text-sm c-gray {% if post.issue_number %}space-1x4{% else %}space-2{% endif %}">
            {% if post.issue_number %}
            {{ post.issue_number}} &nbsp;•&nbsp;
            {% endif %}
            {% assign day = post.date | date: "%-d"  %}
            {% case day %}
              {% when '1' or '21' or '31' %}{{ day }}st
              {% when '2' or '22' %}{{ day }}nd
              {% when '3' or '23' %}{{ day }}rd
              {% else %}{{ day }}th
            {% endcase %}
            {{ post.date | date: "%B, %Y" }}
            {% if post.issue_number %}
            &nbsp;•&nbsp;{{ post.reading_time }} minutes
            {% endif %}
        </h2>
      </article>
    {% endfor %}

  </div>
</div>
